@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body {
    background-color: #F6F6F6;
}
.nav-bar {
    padding: 2% 10% 2% 10%;
    overflow: hidden;
    z-index: 999999999;
    font-size: 22px;
    position: relative;
    .nav-link {
        color: #0984E3;
        text-decoration: none;
        float: left;
        text-align: center;
        padding: 14px 16px;
        cursor: pointer;
    }
    .topnav-right {
        float: right;
        a {
            color: #fff !important;
        }
    }
}
// Reusable Styles //
.font-weight-bold {
    font-weight: bold;
}
.btn {
    border: 2px solid #000;
    background-color: #F6F6F6;
    color: #000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}
.btn-blue-outline {
    border-color: #0984E3;
    color: #2D3436;
    &:hover {
        background-color: #0984E3;
        color: #fff;
    }
}
.btn-green {
    background-color: #38ada9;
    border-color: #38ada9;
    color: #fff;
    &:hover {
        background-color: #079992;
        border-color: #079992;
        // color: #fff;
    }
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fff;
}
.text-title {
    font-size: 50px;
}
// Reusable Styles //
.content {
    height: 100vh;
    background-image: url('../images/home-design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -136px;
    // Home Page
    #home {
        min-height: 100vh;
        padding: 0 10% 0 10%;
        .home-name {
            z-index: 9999;
            width: 35%;
            float: left;
            padding: 15em 0 4em 0;
            .title {
                font-size: 410%;
                font-weight: bold;
                color: #2D3436;
                .surname {
                    margin-top: -11%;
                }
            }
            .sub-title {
                .st-hello {
                    color: #2D3436;
                }
                .front-end {
                    color: #0984E3;
                }
            }
            .button-work {
                margin-top: 10%;
                .works {
                    margin-left: 10px;
                }
            }
        }
        .home-image {
            
            width: 65%;
            float: left;
            padding: 15em 0 0 22em;
            .home-vector-image {
                width: 100%;
            }
        }
    }
    // Featured Works
    #my-works {
        min-height: auto;
        margin-top: 10%;
        padding: 0 10% 0 10%;
        .work-title {
            font-size: 50px;
            color: #2D3436;
        }
        .works {
            height: 60vh;
            margin: 10% 0 0 0;
            .img-box {
                width: 60%;
                float: left;
                .work-image {
                    border-radius: 20px;
                    box-shadow: 20px 20px #CBE2F3;
                    width: 97%;
                }
            }
            .work-detail {
                width: 40%;
                float: left;
                padding: 5% 0 5% 2%;
                .work-year {
                    color: #6EB5E9;
                }
                .work-name {
                    font-size: 50px;
                    color: #2D3436;
                }
                .view-project {
                    text-decoration: none;
                    color: #2D3436;
                    cursor: pointer;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        border-bottom: 3px solid #0884E3;
                        width: 0;
                        position: absolute;
                        // right: 0;
                        -webkit-transition: 1s ease;
                        transition: 1s ease;
                    }
                    &.right::after {
                        right: 0
                    }
                    &:hover::after {
                        width: 60%; 
                    }
                    
                }
                .programming-languages {
                    margin-top: 10px;
                    .prog-icon {
                        margin: 5px 0 5px 0;
                        font-size: 30px;
                    }
                    .html { color: #F16529 }
                    .sass { color: #CD6799 }
                    .angular { color: #B52E31 }
                    .css { color: #2565AE }
                    .wordpress { color: #444140 }
                    .laravel { color: #F05340 }
                }
                .detail-right {
                    text-align: right;
                    margin-right: 5% !important;
                }
            }

        }
    }
    // Contact Us
    #contact {
        padding: 5% 10% 0 10%;
        min-height: auto;
        background-color: #0984E3;
        overflow: hidden;
        .contact-content {
            padding: 5% 0 5% 0;
            color: #fff;
            .contact-form {
                padding: 0 0 3% 2%;
                width: 50%;
                float: left;
                .note {
                    font-size: 14px;
                    margin-bottom: 1%;
                }
                .form-group {
                    padding: 7px 0 7px 0;
                    label {
                        font-size: 18px;
                    }
                    .form-control {
                        width: 100%;
                        height: 45px;
                        font-size: 18px;
                        border: none;
                        &:focus {
                            outline: none !important;
                            border: 2px solid #6EB5E9;
                        }
                    }
                    .form-control-text-area {
                        width: 100%;
                        font-size: 18px;
                        border: none;
                        resize: none;
                        &:focus {
                            outline: none !important;
                            border: 2px solid #6EB5E9;
                        }
                    }
                }
            }
            .contact-additional {
                padding: 0 2% 3% 0;
                width: 50%;
                float: left;
                .contact-subtitle {
                    margin-bottom: 2%;
                    .convo {
                        margin-bottom: 2%;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                    margin: 0 15px 0 0;
                }
            }
        }
    }
    //Footer
    #footer {
        width:100%;
        background-color: #6EB5E9;
        padding: 1% 0 1% 0;
    }
}

